@import "tailwindcss";

:root {
  /* Forceer light mode kleuren */
  --bg-color: #ffffff;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
